@import "./mixins.scss";
$dark-4: #1b1b1b;
$dark-3: #252525;
$dark-2: #303030;
$dark-1: #3b3b3b;
$brand: #4338ca;

$mainTextColor: rgb(240, 240, 240);
$subTextColor: rgb(184, 184, 184);

$anim: cubic-bezier(0.075, 0.82, 0.165, 1);

html {
  background-color: $dark-4;
  color: $subTextColor;
  scroll-behavior: smooth;
}

.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
.headerSection {
  padding: 2rem 0;
  background-color: $dark-4;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  @include add-breakpoint(sm_inv) {
    height: 6rem;
  }
}
.mainGrid {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: minmax(280px, 1.5fr) 4fr;
  gap: 2rem;
  @include add-breakpoint(sm) {
    grid-template-columns: 1fr;
  }
}
.userMetrics,
.repo-metrics,
.metric {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-items: center;
}
.metric:not(:last-of-type) {
  margin-right: 1rem;
}
.metricIcon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  fill: currentColor;
}

.dropDown-cont {
  min-height: 6rem;
}
.repoList-cont {
  @include add-breakpoint(sm_inv) {
    margin-top: 6rem;
  }
}

.searchBar-form {
  padding-bottom: 8px;
  background-color: $dark-4;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.05),
    0 2px 8px rgba(0, 0, 0, 0.05);
}
.repo-cont {
  padding: 1rem;
  background-color: $dark-2;
  margin: 1rem 0;
  border-radius: 0.5rem;
}
.sticky {
  top: 2rem;
  position: -webkit-sticky;
  position: sticky;
  @include add-breakpoint(sm_inv) {
    top: 6rem;
  }
  z-index: 3;
  transition: all 0.4s ease-in-out;
}

.footer {
  padding: 4rem 0;
}

.loading-bg {
  background-color: $dark-2;
}
.switch {
  position: relative;
}
.switchIconBtn {
  width: 2rem;
  height: 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: #1b1b1b;
  border-bottom-right-radius: 0.5rem;
  border: 1px solid lighten($brand, 10);
  content: "switch user view";
  &:hover {
    background-color: $brand;
    transition: all 0.3s $anim;
    transform: scale(1.05);
  }
}

.switch-enter {
  opacity: 0;
  transform: translateY(-10%);
}
.switch-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.3s $anim;
}
.switch-exit {
  opacity: 1;
  transform: translateY(0%);
}
.switch-exit-active {
  opacity: 0;
  transition: opacity 0.3s $anim;
  transform: translateY(10%);
}
.switch-enter-active .btn,
.switch-exit-active .btn {
  transition: opacity 0.3s $anim, transform 0.3s $anim;
}
